services:
{{- if .AdvancedOptions.docker }}
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    environment:
      APP_ENV: ${ {{.EnvPrefix}}_APP_ENV}
      PORT: ${PORT}
      {{.EnvPrefix}}_DB_HOST: ${ {{.EnvPrefix}}_DB_HOST}
      {{.EnvPrefix}}_DB_PORT: ${ {{.EnvPrefix}}_DB_PORT}
      {{.EnvPrefix}}_DB_DATABASE: ${ {{.EnvPrefix}}_DB_DATABASE}
      {{.EnvPrefix}}_DB_USERNAME: ${ {{.EnvPrefix}}_DB_USERNAME}
      {{.EnvPrefix}}_DB_PASSWORD: ${ {{.EnvPrefix}}_DB_PASSWORD}
    depends_on:
      mysql_bp:
        condition: service_healthy
    networks:
      - blueprint
{{- end }}
{{- if and .AdvancedOptions.react .AdvancedOptions.docker }}
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend
    restart: unless-stopped
    depends_on:
      - app
    ports:
      - 5173:5173
    networks:
      - blueprint
{{- end }}
  mysql_bp:
    image: mysql:latest
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${ {{.EnvPrefix}}_DB_DATABASE}
      MYSQL_USER: ${ {{.EnvPrefix}}_DB_USERNAME}
      MYSQL_PASSWORD: ${ {{.EnvPrefix}}_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${ {{.EnvPrefix}}_DB_ROOT_PASSWORD}
    ports:
      - "${ {{.EnvPrefix}}_DB_PORT}:3306"
    volumes:
      - mysql_volume_bp:/var/lib/mysql
    {{- if .AdvancedOptions.docker }}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "${ {{.EnvPrefix}}_DB_HOST}", "-u", "${ {{.EnvPrefix}}_DB_USERNAME}", "--password=${ {{.EnvPrefix}}_DB_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s 
    networks:
      - blueprint
    {{- end }}

volumes:
  mysql_volume_bp:
{{- if .AdvancedOptions.docker }}
networks:
  blueprint:
{{- end }}
