services:
{{- if .AdvancedOptions.docker }}
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    environment:
      APP_ENV: ${ {{.EnvPrefix}}_APP_ENV}
      PORT: ${PORT}
      {{.EnvPrefix}}_DB_HOST: ${ {{.EnvPrefix}}_DB_HOST}
      {{.EnvPrefix}}_DB_PORT: ${ {{.EnvPrefix}}_DB_PORT}
      {{.EnvPrefix}}_DB_DATABASE: ${ {{.EnvPrefix}}_DB_DATABASE}
      {{.EnvPrefix}}_DB_USERNAME: ${ {{.EnvPrefix}}_DB_USERNAME}
      {{.EnvPrefix}}_DB_PASSWORD: ${ {{.EnvPrefix}}_DB_PASSWORD}
      {{.EnvPrefix}}_DB_SCHEMA: ${ {{.EnvPrefix}}_DB_SCHEMA}
    depends_on:
      psql_bp:
        condition: service_healthy
    networks:
      - blueprint
{{- end }}
{{- if and .AdvancedOptions.react .AdvancedOptions.docker }}
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend
    restart: unless-stopped
    depends_on:
      - app
    ports:
      - 5173:5173
    networks:
      - blueprint
{{- end }}
  psql_bp:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${ {{.EnvPrefix}}_DB_DATABASE}
      POSTGRES_USER: ${ {{.EnvPrefix}}_DB_USERNAME}
      POSTGRES_PASSWORD: ${ {{.EnvPrefix}}_DB_PASSWORD}
    ports:
      - "${ {{.EnvPrefix}}_DB_PORT}:5432"
    volumes:
      - psql_volume_bp:/var/lib/postgresql/data
    {{- if .AdvancedOptions.docker }}
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${ {{.EnvPrefix}}_DB_USERNAME} -d ${ {{.EnvPrefix}}_DB_DATABASE}'"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s
    networks:
      - blueprint
    {{- end }}

volumes:
  psql_volume_bp:
{{- if .AdvancedOptions.docker }}
networks:
  blueprint:
{{- end }}
