services:
{{- if .AdvancedOptions.docker }}
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    ports:
      - ${PORT}:${PORT}
    environment:
      APP_ENV: ${APP_ENV}
      PORT: ${PORT}
      BLUEPRINT_DB_PORT: ${BLUEPRINT_DB_PORT}
      BLUEPRINT_DB_ADDRESS: ${BLUEPRINT_DB_ADDRES}
      BLUEPRINT_DB_PASSWORD: ${BLUEPRINT_DB_PASSWORD}
      BLUEPRINT_DB_DATABASE: ${BLUEPRINT_DB_DATABASE}
    networks:
      - blueprint
{{- end }}
  redis_bp:
    image: redis:7.2.4
    restart: always
    ports:
      - "${BLUEPRINT_DB_PORT}:6379"
    {{- if .AdvancedOptions.docker }}
    networks:
      - blueprint
    {{- end }}

{{- if .AdvancedOptions.docker }}
networks:
  blueprint:
{{- end }}
