services:
{{- if .AdvancedOptions.docker }}
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    environment:
      APP_ENV: ${ {{.EnvPrefix}}_APP_ENV}
      PORT: ${PORT}
      {{.EnvPrefix}}_DB_PORT: ${ {{.EnvPrefix}}_DB_PORT}
      {{.EnvPrefix}}_DB_ADDRESS: ${ {{.EnvPrefix}}_DB_ADDRESS}
      {{.EnvPrefix}}_DB_PASSWORD: ${ {{.EnvPrefix}}_DB_PASSWORD}
      {{.EnvPrefix}}_DB_DATABASE: ${ {{.EnvPrefix}}_DB_DATABASE}
    depends_on:
      redis_bp:
        condition: service_healthy
    networks:
      - blueprint
{{- end }}
{{- if and .AdvancedOptions.react .AdvancedOptions.docker }}
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend
    restart: unless-stopped
    depends_on:
      - app
    ports:
      - 5173:5173
    networks:
      - blueprint
{{- end }}
  redis_bp:
    image: redis:7.2.4
    restart: unless-stopped
    ports:
      - "${ {{.EnvPrefix}}_DB_PORT}:6379"
    {{- if .AdvancedOptions.docker }}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s
    networks:
      - blueprint

networks:
  blueprint:
{{- end }}
