services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    environment:
      APP_ENV: ${APP_ENV}
      PORT: ${PORT}
{{- if and (.AdvancedOptions.docker) (eq .DBDriver "sqlite") }}
      BLUEPRINT_DB_URL: ${BLUEPRINT_DB_URL}
    volumes:
      - sqlite_bp:/app/db
{{- end }}
{{- if .AdvancedOptions.react }}
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend
    restart: unless-stopped
    ports:
      - 5173:5173
    depends_on:
      - app
{{- end }}

{{- if and (.AdvancedOptions.docker) (eq .DBDriver "sqlite") }}
volumes:
  sqlite_bp:
{{- end }}
