# Project {{.ProjectName}}

One Paragraph of project description goes here

## Getting Started

These instructions will get you a copy of the project up and running on your local machine for development and testing purposes. See deployment for notes on how to deploy the project on a live system.

## {{if eq .Builder "make"}}Makefile{{else if eq .Builder "just"}}Justfile{{end}}

Run build make command with tests
```bash
{{.Builder}} all
```

Build the application
```bash
{{.Builder}} build
```

Run the application
```bash
{{.Builder}} run
```

{{- if or .AdvancedOptions.docker (and (ne .DBDriver "none") (ne .DBDriver "sqlite")) }}
Create DB container
```bash
{{.Builder}} docker-run
```

Shutdown DB Container
```bash
{{.Builder}} docker-down
```

DB Integrations Test:
```bash
{{.Builder}} itest
```
{{- end }}

Live reload the application:
```bash
{{.Builder}} watch
```

Run the test suite:
```bash
{{.Builder}} test
```

Clean up binary from the last build:
```bash
{{.Builder}} clean
```
