package main

import (
	"os"
	"{{.ProjectName}}/internal/server"

	_ "github.com/joho/godotenv/autoload"

)

func main() {

	server := server.New()

	server.RegisterFiberRoutes()

	err := server.Listen(":" + os.Getenv("PORT"))
	if err != nil {
		panic("cannot start server")
	}
}
