package main

import (
	"fmt"
	"log/slog"
	"os"
	"strconv"
	"{{.ProjectName}}/internal/server"

	_ "github.com/joho/godotenv/autoload"
)

func main() {
	loggerConfig := server.LoggerConfig{
		LoggerType: "text",
		Level:      slog.LevelInfo,
		AddSource:  true,
	}

	logger, err := server.NewLogger(loggerConfig)
	if err != nil {
		panic(fmt.Sprintf("cannot create logger: %s", err))
	}

	server := server.New()

	server.RegisterFiberRoutes()
	port, _ := strconv.Atoi(os.Getenv("PORT"))
	logger.Info(fmt.Sprintf("server is starting on port %d", port))
	if err := server.Listen(fmt.Sprintf(":%d", port)); err != nil {
		panic(fmt.Sprintf("cannot start server: %s", err))
	}
}