-- Insert a new user
-- name: CreateUser :one
INSERT INTO users (
    id,
    name,
    email
) VALUES (
    $1, $2, $3
) RETURNING *;

-- Get a user by ID
-- name: GetUserByID :one
SELECT * FROM users
WHERE id = $1 LIMIT 1;

-- Get a user by email
-- name: GetUserByEmail :one
SELECT * FROM users
WHERE email = $1 LIMIT 1;

-- List all users
-- name: ListUsers :many
SELECT * FROM users
ORDER BY name;

-- Update a user's name
-- name: UpdateUserName :one
UPDATE users
SET name = $2
WHERE id = $1
RETURNING *;

-- Delete a user
-- name: DeleteUser :exec
DELETE FROM users
WHERE id = $1;
