package server

import (
	"log/slog"
	"net/http"
)

func Logger(next http.HandlerFunc) http.HandlerFunc {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		slog.Info("Request URL path", "path", r.RequestURI)
		next(w, r)
	})
}
