package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en" {{if .AdvancedOptions.tailwind}}class="h-screen"{{end}}>
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<title>Go Blueprint Hello</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
			<script src="assets/js/htmx.min.js"></script>
		</head>
		<body {{if .AdvancedOptions.tailwind}}class="bg-gray-100"{{end}}>
			<main {{if .AdvancedOptions.tailwind}}class="max-w-sm mx-auto p-4"{{end}}>
				{ children... }
			</main>
		</body>
	</html>
}
