{{ if .AdvancedOptions.docker }}
{{.EnvPrefix}}_DB_HOST=mongo_bp
{{- else }}
{{.EnvPrefix}}_DB_HOST=localhost
{{- end }}
{{.EnvPrefix}}_DB_PORT=27017
{{.EnvPrefix}}_DB_USERNAME=melkey
{{.EnvPrefix}}_DB_ROOT_PASSWORD=password1234
