{{- if .AdvancedOptions.docker }}
{{.EnvPrefix}}_DB_HOST=mysql_bp
{{- else }}
{{.EnvPrefix}}_DB_HOST=localhost
{{- end }}
{{.EnvPrefix}}_DB_PORT=3306
{{.EnvPrefix}}_DB_DATABASE=blueprint
{{.EnvPrefix}}_DB_USERNAME=melkey
{{.EnvPrefix}}_DB_PASSWORD=password1234
{{.EnvPrefix}}_DB_ROOT_PASSWORD=password4321
