{{- if .AdvancedOptions.docker }}
{{.EnvPrefix}}_DB_HOST=psql_bp
{{- else }}
{{.EnvPrefix}}_DB_HOST=localhost
{{- end }}
{{.EnvPrefix}}_DB_PORT=5432
{{.EnvPrefix}}_DB_DATABASE=blueprint
{{.EnvPrefix}}_DB_USERNAME=melkey
{{.EnvPrefix}}_DB_PASSWORD=password1234
{{.EnvPrefix}}_DB_SCHEMA=public
