{{- if .AdvancedOptions.docker }}
{{.EnvPrefix}}_DB_ADDRESS=redis_bp
{{- else }}
{{.EnvPrefix}}_DB_ADDRESS=localhost
{{- end }}
{{.EnvPrefix}}_DB_PORT=6379
{{.EnvPrefix}}_DB_PASSWORD=
{{.EnvPrefix}}_DB_DATABASE=0
