{{- if .AdvancedOptions.docker }}
# {{.EnvPrefix}}_DB_HOSTS=scylla_bp:9042 # ScyllaDB default port
{{.EnvPrefix}}_DB_HOSTS=scylla_bp:19042 # ScyllaDB Shard-Aware port
{{- else }}
# {{.EnvPrefix}}_DB_HOSTS=localhost:9042 # ScyllaDB default port
{{.EnvPrefix}}_DB_HOSTS=localhost:19042 # ScyllaDB Shard-Aware port
{{- end }}
{{.EnvPrefix}}_DB_CONSISTENCY="LOCAL_QUORUM"
# {{.EnvPrefix}}_DB_USERNAME=
# {{.EnvPrefix}}_DB_PASSWORD=