package server

import (
	"net/http"
  {{if .AdvancedOptions.websocket}}
	"log"
	"fmt"
	"time"
  {{end}}

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
    {{.AdvancedTemplates.TemplateImports}}
)
func (s *Server) RegisterRoutes() http.Handler {
	e := echo.New()
	e.Use(middleware.Logger())
	e.Use(middleware.Recover())

	e.Use(middleware.CORSWithConfig(middleware.CORSConfig{
		AllowOrigins:     []string{"https://*", "http://*"},
		AllowMethods:     []string{"GET", "POST", "PUT", "DELETE", "OPTIONS", "PATCH"},
		AllowHeaders:     []string{"Accept", "Authorization", "Content-Type", "X-CSRF-Token"},
		AllowCredentials: true,
		MaxAge:           300,
	}))

  {{.AdvancedTemplates.TemplateRoutes}}

	e.GET("/", s.HelloWorldHandler)
  {{if ne .DBDriver "none"}}
	e.GET("/health", s.healthHandler)
  {{end}}
  {{if .AdvancedOptions.websocket}}
	e.GET("/websocket", s.websocketHandler)
  {{end}}

	return e
}

func (s *Server) HelloWorldHandler(c echo.Context) error {
	resp := map[string]string{
		"message": "Hello World",
	}

	return c.JSON(http.StatusOK, resp)
}

{{if ne .DBDriver "none"}}
func (s *Server) healthHandler(c echo.Context) error {
	return c.JSON(http.StatusOK, s.db.Health())
}
{{end}}

{{if .AdvancedOptions.websocket}}
func (s *Server) websocketHandler(c echo.Context) error {
	w := c.Response().Writer
	r := c.Request()
	socket, err := websocket.Accept(w, r, nil)

	if err != nil {
		log.Printf("could not open websocket: %v", err)
		_, _ = w.Write([]byte("could not open websocket"))
		w.WriteHeader(http.StatusInternalServerError)
		return nil
	}

	defer socket.Close(websocket.StatusGoingAway, "server closing websocket")

	ctx := r.Context()
	socketCtx := socket.CloseRead(ctx)

	for {
		payload := fmt.Sprintf("server timestamp: %d", time.Now().UnixNano())
		err := socket.Write(socketCtx, websocket.MessageText, []byte(payload))
		if err != nil {
			break
		}
		time.Sleep(time.Second * 2)
	}
	return nil
}
{{end}}

