package server

import (
	"github.com/gofiber/fiber/v2"
  {{.AdvancedTemplates.TemplateImports}}
)

func (s *FiberServer) RegisterFiberRoutes() {
	s.App.Get("/", s.HelloWorldHandler)
  {{if ne .DBDriver "none"}}
	s.App.Get("/health", s.healthHandler)
  {{end}}

  {{.AdvancedTemplates.TemplateRoutes}}
}

func (s *FiberServer) HelloWorldHandler(c *fiber.Ctx) error {
	resp := fiber.Map{
		"message": "Hello World",
	}

	return c.JSON(resp)
}

{{if ne .DBDriver "none"}}
func (s *FiberServer) healthHandler(c *fiber.Ctx) error {
	return c.JSON(s.db.Health())
}
{{end}}
