package server

import (
	"time"
  {{if .AdvancedOptions.websocket}}
	"context"
	"log"
	"fmt"
  {{end}}
	"github.com/gofiber/fiber/v2"
	"github.com/gofiber/fiber/v2/middleware/limiter"
  {{.AdvancedTemplates.TemplateImports}}
)

func (s *FiberServer) RegisterFiberRoutes() {
	// Note: This can now be customized using parameters, making it easier to maintain and reusable.
	rateLimiter := NewRateLimiter(5, 1 * time.Second)
	s.App.Get("/", s.HelloWorldHandler)
	// Note: The rateLimiter requires a second parameter because it won't work if placed after the handler.
	s.App.Get("/limiter", rateLimiter, s.HelloWorldHandler)
  {{if ne .DBDriver "none"}}
	s.App.Get("/health", s.healthHandler)
  {{end}}
  {{if .AdvancedOptions.websocket}}
	s.App.Get("/websocket", websocket.New(s.websocketHandler))
  {{end}}

  {{.AdvancedTemplates.TemplateRoutes}}
}

func (s *FiberServer) HelloWorldHandler(c *fiber.Ctx) error {
	resp := fiber.Map{
		"message": "Hello World",
	}

	return c.JSON(resp)
}

// NewRateLimiter creates and returns a rate limiter middleware.
// max specifies the maximum number of requests allowed per IP or custom key such as API Keys.
// expiration sets the duration until the rate limit resets for each IP or custom key such as API Keys.
func NewRateLimiter(max int, expiration time.Duration) fiber.Handler {
	// Create a new rate limiter using the limiter package.
	return limiter.New(limiter.Config{
		Max:        max,        // Maximum number of requests per IP or custom key such as API Keys.
		Expiration: expiration, // Reset duration for the rate limit.
		LimitReached: func(c *fiber.Ctx) error {
			// Return a "Too Many Requests" status code (429) and a JSON response indicating the error.
			return c.Status(fiber.StatusTooManyRequests).JSON(fiber.Map{
				"error": fiber.ErrTooManyRequests.Message,
			})
		},
	})
}

{{if ne .DBDriver "none"}}
func (s *FiberServer) healthHandler(c *fiber.Ctx) error {
	return c.JSON(s.db.Health())
}
{{end}}

{{if .AdvancedOptions.websocket}}
func (s *FiberServer) websocketHandler(con *websocket.Conn) {
	ctx, cancel := context.WithCancel(context.Background())

	go func() {
		for {
			_, _, err := con.ReadMessage()
			if err != nil {
				cancel()
				log.Println("Receiver Closing", err)
				break
			}
		}
	}()

	for {
		select {
		case <-ctx.Done():
			return
		default:
			payload := fmt.Sprintf("server timestamp: %d", time.Now().UnixNano())
			if err := con.WriteMessage(websocket.TextMessage, []byte(payload)); err != nil {
				log.Printf("could not write to socket: %v", err)
				return
			}
			time.Sleep(time.Second * 2)
		}
	}
}
{{end}}
