package server

import (
	"net/http"

	"github.com/gin-gonic/gin"

  {{.AdvancedTemplates.TemplateImports}}
)

func (s *Server) RegisterRoutes() http.Handler {
	r := gin.Default()

	r.GET("/", s.HelloWorldHandler)
  {{if ne .DBDriver "none"}}
	r.GET("/health", s.healthHandler)
  {{end}}

  {{.AdvancedTemplates.TemplateRoutes}}

	return r
}

func (s *Server) HelloWorldHandler(c *gin.Context) {
	resp := make(map[string]string)
	resp["message"] = "Hello World"

	c.JSON(http.StatusOK, resp)
}

{{if ne .DBDriver "none"}}
func (s *Server) healthHandler(c *gin.Context) {
	c.JSON(http.StatusOK, s.db.Health())
}
{{end}}
