package server

import (
	"net/http"

	"github.com/gin-gonic/gin"

  {{.AdvancedTemplates.TemplateImports}}
)

func (s *Server) RegisterRoutes() http.Handler {
	r := gin.Default()

	r.GET("/", s.HelloWorldHandler)
  {{if ne .DBDriver "none"}}
	r.GET("/health", s.healthHandler)
  {{end}}
  {{if .AdvancedOptions.Websocket}}
	r.GET("/websocket", s.websocketHandler)
  {{end}}

  {{.AdvancedTemplates.TemplateRoutes}}

	return r
}

func (s *Server) HelloWorldHandler(c *gin.Context) {
	resp := make(map[string]string)
	resp["message"] = "Hello World"

	c.JSON(http.StatusOK, resp)
}

{{if ne .DBDriver "none"}}
func (s *Server) healthHandler(c *gin.Context) {
	c.JSON(http.StatusOK, s.db.Health())
}
{{end}}


{{if .AdvancedOptions.Websocket}}
func (s *Server) websocketHandler(c *gin.Context) {
	w := c.Writer
	r := c.Request
	errorMessage := []byte("This is another message not PING")
	socket, err := websocket.Accept(w, r, nil)

	if err != nil {
		log.Print("could not open websocket")
		_, _ = w.Write([]byte("could not open websocket"))
		w.WriteHeader(http.StatusInternalServerError)
		return
	}

	defer socket.Close(websocket.StatusGoingAway, "server closing websocket")

	ctx := r.Context()
	for {
		msgType, socketBytes, err := socket.Read(ctx)

		if err != nil {
			log.Print("could not read from websocket")
			return
		}

		if string(socketBytes) == "PING" {
			if err := socket.Write(ctx, msgType, []byte("PONG")); err != nil {
				log.Print("could not write to socket")
				return
			}
			continue
		}

		if err := socket.Write(ctx, msgType, errorMessage); err != nil {
			log.Print("could not write to socket")
			return
		}
	}
}
{{end}}
