package server

import (
	"encoding/json"
	"log"
	"net/http"

	"github.com/julienschmidt/httprouter"
  {{.AdvancedTemplates.TemplateImports}}
)

func (s *Server) RegisterRoutes() http.Handler {
	r := httprouter.New()
	r.HandlerFunc(http.MethodGet, "/", s.HelloWorldHandler)

  {{if ne .DBDriver "none"}}
	r.HandlerFunc(http.MethodGet, "/health", s.healthHandler)
  {{end}}
  {{if .AdvancedOptions.Websocket}}
	r.HandleFunc(http.MethodGet, "/websocket", s.websocketHandler)
  {{end}}
  {{.AdvancedTemplates.TemplateRoutes}}

	return r
}

func (s *Server) HelloWorldHandler(w http.ResponseWriter, r *http.Request) {
	resp := make(map[string]string)
	resp["message"] = "Hello World"

	jsonResp, err := json.Marshal(resp)
	if err != nil {
		log.Fatalf("error handling JSON marshal. Err: %v", err)
	}

	_, _ = w.Write(jsonResp)
}

{{if ne .DBDriver "none"}}
func (s *Server) healthHandler(w http.ResponseWriter, r *http.Request) {
	jsonResp, err := json.Marshal(s.db.Health())

	if err != nil {
		log.Fatalf("error handling JSON marshal. Err: %v", err)
	}

	_, _ = w.Write(jsonResp)
}
{{end}}

{{if .AdvancedOptions.Websocket}}
func (s *Server) pingPongWebsocketHandler(w http.ResponseWriter, r *http.Request) {
	errorMessage := []byte("This is another message not PING")
	socket, err := websocket.Accept(w, r, nil)

	if err != nil {
		log.Print("could not open websocket")
		_, _ = w.Write([]byte("could not open websocket"))
		w.WriteHeader(http.StatusInternalServerError)
		return
	}

	defer socket.Close(websocket.StatusGoingAway, "server closing websocket")

	ctx := r.Context()
	for {
		msgType, socketBytes, err := socket.Read(ctx)

		if err != nil {
			log.Print("could not read from websocket")
			return
		}

		if string(socketBytes) == "PING" {
			if err := socket.Write(ctx, msgType, []byte("PONG")); err != nil {
				log.Print("could not write to socket")
				return
			}
			continue
		}

		if err := socket.Write(ctx, msgType, errorMessage); err != nil {
			log.Print("could not write to socket")
			return
		}
	}
}
{{end}}
