package server

import (
	"fmt"
	"net/http"
	"os"
	"strconv"
	"time"

	_ "github.com/joho/godotenv/autoload"
  {{if ne .DBDriver "none"}}
	"{{.ProjectName}}/internal/database"
  {{end}}
)

type Server struct {
	port int
  {{if ne .DBDriver "none"}}
	db   database.Service
  {{end}}
}

func NewServer() *http.Server {
	port, _ := strconv.Atoi(os.Getenv("PORT"))
	NewServer := &Server{
		port: port,
  {{if ne .DBDriver "none"}}
		db:   database.New(),
  {{end}}
	}

	// Declare Server config
	server := &http.Server{
		Addr:         fmt.Sprintf(":%d", NewServer.port),
		Handler:      NewServer.RegisterRoutes(),
		IdleTimeout:  time.Minute,
		ReadTimeout:  10 * time.Second,
		WriteTimeout: 30 * time.Second,
	}

	return server
}
