  fileServer := http.FileServer(http.FS(web.Files))
  r.Handler(http.MethodGet, "/js/*filepath", fileServer)
  r.Handler(http.MethodGet, "/web", templ.Handler(web.HelloForm()))
  r.HandlerFunc(http.MethodPost, "/hello", web.HelloWebHandler)
  