package database

import (
	"context"
	"fmt"
	"log"
	"os"
	"strconv"
	"sync"
	"time"

	_ "github.com/joho/godotenv/autoload"
	"github.com/redis/go-redis/v9"
)

type Service interface {
	Health() map[string]string
}

type service struct {
	db *redis.Client
}

var (
	address  = os.Getenv("DB_ADDRESS")
	port     = os.Getenv("DB_PORT")
	password = os.Getenv("DB_PASSWORD")
	database = os.Getenv("DB_DATABASE")
	dbInstance *service
	once     sync.Once
)

func New() Service {
	once.Do(func() {
		num, err := strconv.Atoi(database)
		if err != nil {
			log.Fatalf(fmt.Sprintf("database incorrect %v", err))
		}

		fullAddress := fmt.Sprintf("%s:%s", address, port)

		rdb := redis.NewClient(&redis.Options{
			Addr:     fullAddress,
			Password: password,
			DB:       num,
		})

		dbInstance = &service{
			db: rdb,
		}
	})

	return dbInstance
}

func (s *service) Health() map[string]string {
	ctx, cancel := context.WithTimeout(context.Background(), 1*time.Second)
	defer cancel()

	result, err := s.db.Ping(ctx).Result()

	if err != nil {
		log.Fatalf(fmt.Sprintf("db down: %v", err))
	}

  if result != "PONG" {
    log.Fatalf(fmt.Sprintf("Unexpected ping response: %s", result))
  }

	return map[string]string{
		"message": "It's healthy",
	}
}
