name: Linting Generated Blueprints

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  install_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: Install Dependencies
        run: go mod download

  framework_matrix:
    needs: install_dependencies
    strategy:
      matrix:
        framework:
          [chi, gin, fiber, gorilla/mux, httprouter, standard-library, echo]
        driver:
          [mysql, postgres, sqlite, mongo, none]
        goVersion: ["1.20"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build templates
        run: go run main.go create -n ${{ matrix.framework }} -f ${{ matrix.framework}} -d ${{ matrix.driver }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55.2
          working-directory: ${{ matrix.framework }}
          args: --timeout=5m
      - name: remove templates
        run: rm -rf ${{ matrix.framework }}
