name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.1'

      - name: Install dependencies
        run: go mod tidy

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: |
          env GOOS=linux GOARCH=amd64 go build -o bin/go-blueprint-Linux_x86_64 main.go
          env GOOS=linux GOARCH=arm64 go build -o bin/go-blueprint-Linux_arm64 main.go
          env GOOS=darwin GOARCH=amd64 go build -o bin/go-blueprint-Darwin_amd64 main.go
          env GOOS=darwin GOARCH=arm64 go build -o bin/go-blueprint-Darwin_arm64 main.go

      - name: Create release
        id: release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./bin/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
