name: Check for new htmx release

on:
  schedule:
    # - cron: '0 0 * * Sun'
    - cron: '*/5 * * * *'

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get version from file
        id: get_version_file
        run: |
          VERSION_FILE=$(curl https://raw.githubusercontent.com/Melkeydev/go-blueprint/main/cmd/template/advanced/files/htmx/htmx.min.js.tmpl | grep version | awk -F'"' '{print "v" $2}')
          echo "version file: $VERSION_FILE"
          echo "::set-output name=version_file::$VERSION_FILE"

      - name: Get version from GitHub API
        id: get_version_api
        run: |
          VERSION_API=$(curl -s https://api.github.com/repos/bigskysoftware/htmx/releases/latest | jq -r '.tag_name')
          echo "version api: $VERSION_API"
          echo "::set-output name=version_api::$VERSION_API"

      - name: Compare versions
        id: compare_versions
        run: |
          if [ "${{ steps.get_version_api.outputs.version_api }}" != "${{ steps.get_version_file.outputs.version_file }}" ]; then
            echo "release_changed=true" >> $GITHUB_OUTPUT
            echo "Release changed: true"
          else
            echo "release_changed=false" >> $GITHUB_OUTPUT
            echo "Release changed: false"
          fi

      - name: dump latest htmx version
        run: curl -L https://unpkg.com/htmx.org@latest -o cmd/template/advanced/files/htmx/htmx.min.js
        if: steps.compare_versions.outputs.release_changed == 'true'

      - name: Prettify code
        run: |
          npm install --save-dev --save-exact prettier
          npx prettier --write cmd/template/advanced/files/htmx/htmx.min.js
          rm -rf node_modules
          rm package-lock.json
          rm package.json
        if: steps.compare_versions.outputs.release_changed == 'true'

      - name: Create tmpl after Prettify
        run: mv cmd/template/advanced/files/htmx/htmx.min.js cmd/template/advanced/files/htmx/htmx.min.js.tmpl
        if: steps.compare_versions.outputs.release_changed == 'true'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: update htmx version
          title: Update htmx version [Bot]
          body: New version is available. This is an automatic PR to update changes.
          branch: htmx-version-update
          base: main
        if: steps.compare_versions.outputs.release_changed == 'true'
